<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Events</h5>

          {{#each Event}}
          <p><strong>ID</strong>: {{id}}</p>
          <p>
          <p>
            <strong>Venue</strong>: {{venue}}</p>
          <p>
            <strong>Theme:</strong> {{theme}}</p>
            <p>
            <strong>Date and Time</strong>: {{date_time}}</p>
            <p>
            <strong>Specials</strong>: {{specials}}</p>
            <p>
            <strong>Address</strong>: {{address}}</p>
            <p>
            <strong>Neighborhood</strong>: {{neighborhood}}</p>
            <p>
            <strong>Food Type</strong>: {{food_type}}</p>
          {{/each}}
            <a href="/">← Back To Home</a>
            <a href="/events/add"> Add Event </a>
        </div>
      </div>
    </div>
  </div>
</div>
