<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Events</h5>

          {{!-- {{Event}} --}}
          <p><strong>ID</strong>: {{Event.id}}</p>
          <p>
          <p>
            <strong>Venue</strong>: {{Event.venue}}</p>
          <p>
            <strong>Theme:</strong> {{Event.theme}}</p>
            <p>
            <strong>Date and Time</strong>: {{Event.date_time}}</p>
            <p>
            <strong>Specials</strong>: {{Event.specials}}</p>
            <p>
            <strong>Address</strong>: {{Event.address}}</p>
            <p>
            <strong>Neighborhood</strong>: {{Event.neighborhood}}</p>
            <p>
            <strong>Food Type</strong>: {{Event.food_type}}</p>
          {{!-- {{/each}} --}}
            <a href="/events">← Back To Events Page</a>
        </div>
      </div>
    </div>
  </div>
</div>